<fieldset>
  <h2><em><%=@entry.date.strftime("%b, %d, %Y")%></em></h2>
  <p><blockquote><%=@entry.content%></blockquote></p>

  <button><a href= "/entries/<%=@entry.id%>/edit">Edit</a></button>
  <br><br>
  <form action ="/entries/<%=@entry.id%>" method="post">
    <input id = "hidden" type="hidden" name="_method" value="delete">
    <input type="submit" name="Delete Entry" value="Delete">
  </form>

</fieldset>

<br>

<center><button><a href = "/users/<%=current_user.slug%>">HOME</a></button></center>
